<div class="container col-sm-6 col-sm offset-3">
        <ng-container *ngIf="productsFormGroup">
              <ng-container *ngIf="state as data">
                <ng-container *ngIf="data.dataState==productStateEnum.LOADING">
                  Loading ...
                </ng-container>
                <ng-container *ngIf="data.dataState==productStateEnum.LOADED">
                  <div class="alert-success p-2 container">
                    <span>Product save successfully</span>
                    <button class="btn btn-success p-2 m-2" (click)="newProduct()">New Product</button>
                  </div>
                </ng-container>
                <ng-container *ngIf="data.dataState==productStateEnum.NEW">
                      <form [formGroup]="productsFormGroup" (ngSubmit)="onSaveProduct()">
                        <div class="form-group">
                          <label for="name">Name :</label>
                          <input type="text" class="form-control" id="name" formControlName="name"  [ngClass]="{'is-invalid':submitted && productsFormGroup.controls.name.errors}">
                          <div *ngIf="submitted && productsFormGroup.controls.name.errors" class="invalid-feedback" >
                            <div *ngIf="productsFormGroup.controls.name.errors.required">Name is Required</div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="price">Price de :</label>
                          <input type="text" class="form-control" formControlName="price" id="price">
                        </div>
                        <div class="form-group">
                          <label for="price">montant de :</label>
                          <input type="text" class="form-control" formControlName="price" id="price">
                        </div>
                        <div class="form-group">
                          <label for="quantity">Quantity de :</label>
                          <input type="text" class="form-control" formControlName="quantity"  id="quantity">
                        </div>
                        <div class="form-group">
                          <label for="selected">Selected :</label>
                          <input class="form-check" type="checkbox" formControlName="selected"  id="selected" >
                        </div>
                        <div class="form-group">
                          <label for="available">Available :</label>
                          <input  class="form-check" type="checkbox" formControlName="available" id="available">
                        </div>
                        <button type="submit" class="btn btn-success">Save</button>
                      </form>
                </ng-container>
              </ng-container>
        </ng-container>
</div>
