<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="nav nav-pills">
    <li>
      <button class="btn btn-outline-info m-lg-1" (click)="onGetAllProduct()">All</button>
    </li>
    <li>
      <button class="btn btn-outline-info m-lg-1" (click)="onGetSelectedProduct()">Selected</button>
    </li>
    <li>
      <button class="btn btn-outline-info m-lg-1" (click)="onNewProduct()">New</button>
    </li>
  </ul>
  <ul class="navbar-nav m-auto">
    <li>
      <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline">
        <input type="text" ngModel name="keyword">
        <button type="submit" class="btn btn-outline-info btn-sm">
          <i class="fa fa-search"></i>

        </button>
      </form>
    </li>
  </ul>
</nav>
